.main-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 3.75rem;  
  z-index: 100;
  background-color: var(--bg-primary);
}

.content {
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}

.content.with-navbar {
  margin-top: 3.75rem;  
  min-height: calc(100vh - 3.75rem);
}

 
@media (min-width: 768px) {
  .content {
    padding: 1rem 2rem;
  }
  .content.with-navbar {
    margin-top: 3.75rem;
    min-height: calc(100vh - 3.75rem);
  }
}
